services:
  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_PORT=5432
    depends_on:
      db:
        condition: service_healthy
        restart: true
    volumes:
      - ./backend:/app
      - /app/.venv
    command: uv run fastapi dev --host 0.0.0.0 --port 8000
  
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
          - VITE_API_BASE_URL=http://localhost:8000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0



volumes:
  postgres_data:
  backend_venv: